
:root {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  height: 100%;
}

ol, ul, menu {
	list-style: none;
}

button,
input,
label,
select,
textarea {
  appearance: none;
  font-family: inherit;
	letter-spacing: inherit;
  font-size: 100%;
}

button,
input,
label,
select,
textarea {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus, textarea:focus {
	outline: none;
}

img {
  max-width: 100%;
}

a, button {
	cursor: pointer;
}
/* my reset^^^ */

:root {
	/* color palette from  https://tailwindcss.com/docs/customizing-colors */
	--col50: #eff6ff;
	--col100: #dbeafe;
	--col200: #bfdbfe;
	--col300: #93c5fd;
	--col400: #60a5fa;
	--col500: #3b82f6;
	--col600: #2563eb;
	--col700: #1d4ed8;
	--col800: #1e40af;
	--col900: #1e3a8a;
	--icon-size: 25px;

	background-color: var(--col900);
}

body {
	font-family: system-ui;
	display: flex;
	justify-content: center;

	/* for half & half background */
	/* background: linear-gradient(90deg, var(--sidebar-color) 50%, var(--content-color) 0, var(--content-color) 100%); */
}

.container {
	background-color: var(--col50);
	display: grid;
	max-width: 1350px;
	height: 100%;

	grid:
	"sidebar   header       "   75px
	"sidebar   user-module  "   100px
	"sidebar   main-content "   1fr
	/ 27rem 1fr;
}

.sidebar {
	padding: 2.4rem;
	grid-area: sidebar;
	color: white;
	font-size: 2rem;
	font-weight: 500;
	background-color: var(--col600);
	
	display: grid;
	/* grid: auto / auto; */
}

/* :where() is less specific than :is() */
.sidebar a:where(:link, :visited, :hover, :active) {
	color: white;
	text-decoration: none;
}

.sidebar > ul > li {
	display: grid;
	grid: auto / auto-flow;
	justify-content: start;
	align-items: center;
	
	/* Make responsive */
	
	/* gap: 1.75rem; */
	gap: clamp(1rem, 2vw, 3rem);
	margin-bottom: clamp(0rem, 0.75vw, 1.2rem);
	/* margin-bottom: 1rem; */
}

.sidebar > ul > .spacer {

	/* Make responsive */
	
	/* margin-bottom: 3rem; */
	margin-bottom: clamp(0rem, 2vw, 3rem);
}

.sidebar > ul > li > img {
	height: var(--icon-size);
}

.sidebar > ul > li:first-child {
	font-size: 2.4rem;
	margin-left: -1rem;
	gap: 1rem;
}

/*performant?*/
#dash-icon {
	height: calc(var(--icon-size) * 1.7);
	/* vertical-align: middle; */
}

.sidebar-text {
	/* visibility: hidden; */
	/* display: none; */
}

.header {
	grid-area: header;

	/* make responsive */
	padding: 0 2rem;
	--header-elem-margin: 0 1rem;


	/* change me */
	background-color: white;

	display: grid;
	grid: auto / auto-flow;
}

.header-left {
	display: grid;
	grid: auto / auto-flow;
	justify-content: start;
	align-items: center;
}

.header-left > * {
	margin: var(--header-elem-margin);
}

.header-left > .magnifying-glass-icon {
	height: 25px;
}

.header-left > input {
	border-radius: 15px;
	padding: 0.75rem 1.4rem;
	border: 0;
	background-color: #ccc;
}

.header-right {
	display: grid;
	grid: auto / auto-flow;
	align-items: center;
}

.header-right > .notification-bell {
	height: 25px;
}

.header-right > .user-avatar {
	height: 50px;
	/* border: 5px yellow; */
}

.user-module {
	grid-area: user-module;
	box-shadow: 0px 3px 3px #ccc;
	position: relative;

	display: grid;
	grid: auto / auto-flow;

}

.user-module-left {
	display: grid;
	grid:
	"avatar-large   greeting  "   auto
	"avatar-large   username  "   auto;

	align-content: center;
	justify-content: start;
	/* align-items: center; */
	font-weight: bold;
}

.user-module-left > .user-avatar {
	height: 75px;
	grid-area: avatar-large;
}

.user-module-left > span:first-of-type {
	grid-area: greeting;
	font-size: 1.4rem;
	align-self: last baseline;
}
.user-module-left > span:last-child {
	grid-area: username;
	font-size: 2rem;
	align-self: first baseline;
	min-width: max-content;
}

.user-module-right {
	display: grid;
	align-content: center;
	grid: auto / auto-flow;
}

.user-module-right > button {
	background-color: var(--col400);
	color: white;
	height: 3.5rem;
	width: 10rem;
	border: 0;
	border-radius: 15px;
}

.main-content	{
	grid-area: main-content;
	background-color: var(--col50);

	display: grid;
	grid:
	"cards-title    announcements-title  "   auto
	"cards   		 	  announcements        "   1fr
	"cards   				trending-title       "   auto
	"cards   				trending             "   1fr
	/ 3fr 1fr ;
}

h2[class$="title"] {
	background-color: red;
}



.cards {
	/* background-color: #fff; */
	grid-area: cards;

	display: grid;
	/* grid: 25px repeat(auto-fit, minmax(10px, 1fr)) / repeat(auto-fit, minmax(10px, 1fr)); */
	/* grid-template-rows: 25px ; */
	/* grid-auto-rows: repeat(auto-fill, 200px); */
	/* grid-auto-flow: column; */
	/* grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr)); */
	/* grid: auto / repeat(auto-fit, minmax(10px, 1fr)); */
	/* grid: 50px 50px 50px / 50px 50px 50px; */
	grid: auto / repeat(auto-fit, minmax(200px, 1fr));
}

.cards > div {

}

.announcements {
	grid-area: announcements;
	outline: 3px dotted;
}

.trending {
	grid-area: trending;
	outline: 3px dotted;
}

/* @media screen and (max-width: 700) { */
@media only screen and (max-width: 700px) {
	.sidebar-text {
		/* visibility: hidden; */
		display: none;
	}

	.sidebar {
		width: max-content;
		/* gap: 5em; */

	}

	.sidebar > ul > li {
		margin-bottom: 2rem;
	}
	
}