
:root {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  height: 100%;
}

ol, ul, menu {
	list-style: none;
}

button,
input,
label,
select,
textarea {
  appearance: none;
  font-family: inherit;
	letter-spacing: inherit;
  font-size: 100%;
}

button,
input,
label,
select,
textarea {
  /* width: 1px; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus, textarea:focus {
	outline: none;
}

img {
  max-width: 100%;
}

a, button {
	cursor: pointer;
}
/* my reset^^^ */

:root {
	background-size: 250px, auto;
	background-image: url("/images/signal.svg"), 
	linear-gradient(110deg, var(--col1000), var(--col1000));

	/* color palette from  https://tailwindcss.com/docs/customizing-colors */
	--col50: #eff6ff;
	--col100: #dbeafe;
	--col200: #bfdbfe;
	--col300: #93c5fd;
	--col400: #60a5fa;
	--col500: #3b82f6;
	--col600: #2563eb;
	--col700: #1d4ed8;
	--col800: #1e40af;
	--col900: #1e3a8a;
	--col1000: #111a6d;

	/* responsive values */
	--sidebar-img-height: 25px;
	--sidebar-fsz: clamp(0.5rem, 5vw - 2rem, 2rem);
	--sidebar-text-hover: clamp(0.6rem, 5.5vw - 2rem, 2.4rem);
	--sidebar-width: clamp(22rem, 24vw, 29rem);
	--sidebar-gap: clamp(0rem, 3vw - 1rem, 3rem);
	--sidebar-margin-bottom: clamp(0rem, 0.75vw, 1.5rem);
	--sidebar-spacer: clamp(0rem, 8vw - 4rem, 5rem);
	--dashboard-fsz: clamp(1rem, 5vw - 1.5rem, 2.4rem);
	--dashboard-text-hover: clamp(1.1rem, 5.5vw - 1.5rem, 2.8rem);
	--dashboard-gap: clamp(0rem, 3vw - 1rem, 2rem);
	--dashboard-icon-height: calc(var(--sidebar-img-height) * 1.7);
	--header-padding-sides: 3rem;
	--search-right-margin: clamp(0rem, 8vw - 2rem, 12rem);
	--header-gap: clamp(1rem, 4vw - 2rem, 3rem);
	--user-module-btn-width: clamp(7rem, 10vw, 10rem);
	--user-module-btn-gap: clamp(2rem, 4vw - 2rem, 3rem);
	--user-module-btn-font-sz: clamp(1.2rem, 2vw, 1.6rem);
	--user-module-btn-height: clamp(2.8rem, 4vw, 3.5rem);
	--main-content-padding: 3rem;
	--card-padding: 3rem;
}

body {
	display: flex;
	justify-content: center;
	font-family: system-ui;
}

.container {
	display: grid;
	background-color: var(--col50);
	max-width: 1350px;
	height: 100%;

	grid:
	"sidebar   header       "   75px
	"sidebar   user-module  "   100px
	"sidebar   main-content "   1fr
	/ var(--sidebar-width) 1fr;
}

.sidebar {
	display: grid;
	background-size: 125px, auto;
	background-image: url("/images/signal.svg"), 
		linear-gradient(110deg, var(--col700), indigo);

	padding: 2.4rem;
	grid-area: sidebar;
	color: white;
	font-size: var(--sidebar-fsz);
	font-weight: 500;
}


/* :where() is less specific than :is() */
.sidebar a:where(:link, :visited, :hover, :active) {
	color: white;
	text-decoration: none;
}

span.sidebar-link:hover {
	transition: font-size 150ms;
	font-size: var(--sidebar-text-hover);
}

.sidebar a img:has(+ span:hover),
.sidebar a img:hover {
	transition: font-size 150ms;
	height: calc(var(--sidebar-img-height) * 1.2);
}

.sidebar a {
	display: grid;
	grid: auto / auto-flow;
	justify-content: start;
	align-items: center;
	
	gap: var(--sidebar-gap);
	margin-bottom: var(--sidebar-margin-bottom);
}

.sidebar > ul > .spacer {
	margin-bottom: var(--sidebar-spacer);
}

.sidebar a > img {
	height: var(--sidebar-img-height);
}

.sidebar a[href*="dashboard"] {
	font-size: var(--dashboard-fsz);
	margin-left: -1rem;
	gap: var(--dashboard-gap);
}

/*performant?*/
#dash-icon {
	height: var(--dashboard-icon-height);
}

.header {
	grid-area: header;

	/* header has 2 cols, 1 row */
	display: grid;
	/* grid: auto / auto-flow; */
	grid-auto-flow: column;

	/* change me 500px is not correct */
	grid-template-columns: 1fr fit-content(500px);

	/* outline: 2px dotted; */

	/* make responsive */
	/* padding: 0 2rem; */
	padding-left: var(--header-padding-sides);
	padding-right: var(--header-padding-sides);

	/* change me */
	background-color: white;
	font-weight: bold;
}

.header-left {
	display: grid;
	/* grid: auto / auto-flow; */
	grid-auto-flow: column;
	grid-template-columns: auto 1fr;
	/* justify-content: start; */
	align-items: center;

	/* outline: 2px dashed; */
	margin-right: var(--search-right-margin);
}

.header-left > .magnifying-glass-icon {
	width: 25px;
}

.header-left > input[type="search"] {
	border-radius: 15px;
	padding: 0.75rem 1.4rem;
	border: 0;
	background-color: var(--col100);
	height: 30px;
	width: 100%;
	margin-left: 1rem;
}

.header-right {
	display: grid;
	grid: auto / auto-flow;
	justify-content: end;
	align-items: center;
	gap: var(--header-gap);
}

.header-right > .notification-bell {
	height: 25px;
}

.header-right > .user-avatar {
	height: 50px;
}

.user-module {
	padding-left: var(--header-padding-sides);
	padding-right: var(--header-padding-sides);
	grid-area: user-module;
	box-shadow: 0px 3px 3px #ccc;
	position: relative;

	display: grid;
	grid: auto / auto-flow;
}

.user-module-left {
	display: grid;
	grid:
	"avatar-large   greeting  "   auto
	"avatar-large   username  "   auto;

	align-content: center;
	justify-content: start;
	/* align-items: center; */
	font-weight: bold;
}

.user-module-left > .user-avatar {
	height: 75px;
	grid-area: avatar-large;
}

.user-module-left > .greeting-message {
	grid-area: greeting;
	font-size: 1.4rem;
	align-self: last baseline;
}
.user-module-left > .greeting-username {
	grid-area: username;
	font-size: 2rem;
	align-self: first baseline;
	/* min-width: max-content; */
}

.user-module-right {
	display: grid;
	justify-content: end;
	align-content: center;
	gap: var(--user-module-btn-gap);
	grid: auto / auto-flow;
}

.user-module-right > button {
	background-color: var(--col400);
	color: white;
	font-size: var(--user-module-btn-font-sz);
	font-weight: bold;
	height: var(--user-module-btn-height);
	width: var(--user-module-btn-width);
	border: 0;
	border-radius: 20px;
}

.main-content	{
	grid-area: main-content;
	background-color: var(--col100);
	/* padding: var(--main-content-padding); */

	display: grid;
	grid:
	"cards-title    announcements-title   " auto
	"cards          announcements         " 60rem
	"cards          trending-title        " 6rem
	"cards          trending              " 1fr
	/ 1fr 1fr ;
}


.cards-wrapper {
	grid-area: cards;
	display: grid;
	grid: auto-flow 200px / repeat(auto-fit, minmax(100px, 1fr));
	/* padding: 2rem; */
	gap: 2rem;
}

.card,
.announcements,
.trending {
	border-radius: 11px;
	background-color: white;
	box-shadow: 3px 3px 3px #ccc;
}

.card {
	padding: var(--card-padding);
	border-left: 7px solid royalblue;
	display: grid;
	grid-template-rows: fit-content(10px) fit-content(10px) 1fr;
}

.card > h3 {
	height: min-content;
}

.card-content { 
}

.card-tools {
	align-self: self-end;
	justify-self: last baseline;
}

.card-tools > img {
	height: 22px;
}

.announcements {
	grid-area: announcements;
}

.trending {
	grid-area: trending;
}

.trending-user {

}

.trending-user > img {
	height: 25px;
}

@media only screen and (max-width: 800px) {
	.header-right {
		/* display: grid; */
		/* grid: auto / auto-flow; */
		/* justify-content: end; */
		/* align-items: center; */
		/* gap: var(--header-gap); */
	}

	.header-right > span {
		display: none;
	}
	

	.user-module {
		/* grid: auto-flow; */
		grid-auto-flow: row;
		/* font-size: 1rem; */
	}

	.user-module-left {
		/* grid:
		"greeting"
		"username"; */
		/* font-size: 1rem; */
		grid: "username";
		justify-content: center;
		/* grid-auto-flow: columns; */
		/* display: grid; */
		/* grid-template-columns: 50px 50px 50px; */
		/* grid-template-rows: 50px; */
	}

	.user-module-left > .greeting-message {
		display: none;
		/* grid-area: greeting; */
		/* font-size: 1.4rem; */
		/* align-self: last baseline; */
	}

	.user-module-left > .greeting-username {
		/* grid-area: username; */
		font-size: 1.6rem;
		/* align-self: first baseline; */
		/* min-width: max-content; */
	}
	

	.user-module-left > .user-avatar {
		display: none;
	}

	.user-module-right {
		justify-content: center;
	}

	.user-module-right > button {
		/* height: 3rem; */
	}
}

/* @media screen and (max-width: 700) { */
@media only screen and (max-width: 700px) {
	:root {
		--sidebar-width: clamp(7rem, 35vw - 13rem, 20rem);
	}

	.container {
		grid:
		"sidebar   header       "   75px
		"sidebar   user-module  "   100px
		"sidebar   main-content "   1fr
		/ var(--sidebar-width) 1fr;
	}

	#dash-icon {
		height: calc(var(--sidebar-img-height) * 1.4);
	}

	.sidebar a > img {
		transition: height 500ms;
		height: calc(var(--sidebar-img-height) * 1.1);
	}

	.sidebar span.sidebar-link {
		display: none;
	}

	.sidebar a[href*="dashboard"] {
		margin-bottom: 3rem;
		margin-left: 0;
	}

	.sidebar a {
		justify-content: center;
	}

	.sidebar > ul > li {
		transition: margin-bottom 500ms;

		margin-bottom: 4rem;
	}

}

